/* div.image{
    text-align: right;
    display: block;
    margin-top: 30px;
    height: 200;
    width: 200;    
} */

/* .row {
    display: flex;
  }

.column {
    flex: 33.33%;
    padding: 5px;
  }   */

   .App{
    background-color: white; 
     color: black; 
    background-image: url("./assets/images/map.jpg");        
   }  

 
  
