.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    padding-left: 85px;
    padding-right: 85px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navgroup {
    display: flex;
    align-items: center;
}

.navitem {
    margin: 20px;
}

.navlink {
    margin: 10px;
    font-size: 20px;
}

.profile-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: grey;
}

.profile-square {
    height: 70px;
    display: flex;
    align-items: center;

    .image {
        height: 70px;
        width: 70px;
        border-radius: 20px;
        background-color: grey;
        margin-right: 10px;
    }

    .with-me {
        font-size: 20px;
    
        p {
            font-size: 30px;
        }
    }

    h2 {
        margin-left: 70px;
    }
}

